.bg-color {
  background-color: #c1dbe3;
}

.left-panel {
  height: 100%;
}

.right-panel {
  min-height: 78vh;
}

.left-panel,
.right-panel {
  background-color: #ffffff;
  padding-bottom: 2rem;
}

.logo-main {
  height: auto;
  margin: 10px 0 0 20px;
  width: max(20vw, 250px);  
}

.google-map {
  max-width: 100%;
  height: auto;
}

.footer {
  background-color: #ffffff;
  margin-top: 10px;
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.footer span {
  color: #fff;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;

}