.bg-color {
  background-color: #c1dbe3;
}

.left-panel,
.right-panel {
  background-color: #ffffff;
  min-height: 78vh;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding-bottom: 2rem;
}

.logo-main {
  width: 20vw;
  height: auto;
}

.google-map {
  max-width: 100%;
  height: auto;
}