.carousel {
    height: 200px;
    width: auto;
    margin: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(118px, 1fr));
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.card-body {
    padding: 10px !important;
}

.carousel-caption {
    background-color: rgba(95, 94, 94, 0.664);
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 10px;
    padding-bottom: 3rem;
    position: absolute;
    text-align: left;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.carousel h3 {
    color: white;
    font-family: serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

.carousel img {
    height: 250px;
    width: auto;
    border-radius: 10px;
}

.weather-info {
    font-size: 1.2em;
}

.weather-icon,
.real-temp {
    height: 50px;
    width: auto;
}

.city-name {
    color: rgb(46, 22, 185);
    font-weight: bolder;
    font-size: larger;
}

.weather-description {
    height: 50px;
}

.weather-card b {
    font-size: 15px;
}

.modal-header {
    display: inline-block;
    background-color: #212529;
    color: #fff;
    border-bottom: none;
}

.modal-title {
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-body {
    margin-left: 2rem;
    padding: 1rem;
}

h4 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.modal-footer {
    padding: 1rem;
}